.artists-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 308px);
  gap: 40px;
  width: 100%;
  justify-content: center;
}

.artist-card {
  background-color: rgba(243, 119, 18, 0.2);
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.6);
  padding: 20px;
  width: 308px;
  height: 400px;
  display: flex;
  flex-direction: column;
}

.artist-card img {
  /* width: 100%;
  height: auto; */
  object-fit: cover;
}

.artist-card .image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.artist-card .artist-name {
  font-family: "NunitoSans";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: normal;
  text-transform: uppercase;
  text-decoration: none;
}
.artist-link {
  text-decoration: none;
  color: inherit;
}

.artist-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  min-height: 100vh;
}

.artist-page img {
  width: 400px;
  height: 400px;
  object-fit: cover;
}
