body {
  margin: 0;
  padding: 0;
  width: 100%;
}

.bg {
  background-image: url(../public/back.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  position: fixed;
  display: flex;
  z-index: -1;
}

.outer-wrapper {
  width: 80%;
  top: 0
}

.page-wrapper {
  position: relative;
  margin-top: 5rem;
  left: 50vw;
  transform: translateX(-50%);
  /* width: 80%; */
  display: flex;
  flex-direction: column;
  margin: 0;
  padding-right: 20px;
  padding-left: 20px;
  
  align-items: center;
  overflow: hidden;
  max-width: 1200px;
}

/* .page-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 15px;
  align-items: center;
  overflow: hidden;
  max-width: 1200px;
} */

/* @media (min-width: 786px) {
  .page-wrapper {
    align-self: center;
  }
} */


.footer-section{
  background-color: rgba(243, 119, 18, 0.21);
   width: 100vw; 
   position:relative;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.footer-section .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  width: 80%;
}

.footer-section .impressum-etc a{
  padding-left: 10px;
  padding-right: 10px;
}