.boring-page-wrapper {
  max-width: 800px;
  line-height: 1.8;
  font-weight: 300;
}

.boring-page-wrapper h1{
  font-size: 50px;
  font-family: NunitoSans;
  font-weight: 300;
  overflow-wrap: break-word;
  hyphens: auto;
}

.boring-page-wrapper h2 {
  text-align:start;
}