.boring-page-wrapper {
  max-width: 800px;
  line-height: 1.8;
}

.boring-page-wrapper h1, .boring-page-wrapper .main-title{
  font-size: 25px;
  font-family: NunitoSans;
  font-weight: 800;
  overflow-wrap: break-word;
  hyphens: auto;
  text-transform: uppercase;
}

.boring-page-wrapper h2 {
  text-align:start;
}

.boring-page-wrapper .collapsible-text-boxes div {
  margin-bottom: 5px;
}

.section-title {
  font-size: 20px;
  font-family: NunitoSans;
  font-weight: 800;
  overflow-wrap: break-word;
  hyphens: auto;
  text-transform: uppercase;
}


