.boring-page-wrapper {
  max-width: 800px;
  line-height: 1.8;
}

.boring-page-wrapper h1{
  font-size: 35px;
  font-family: NunitoSans;
  font-weight: 700;
  overflow-wrap: break-word;
  hyphens: auto;
}

.boring-page-wrapper h2 {
  text-align:start;
}

.boring-page-wrapper .collapsible-text-boxes div {
  margin-bottom: 5px;
}