.collapsible-text {
  font-size: 18px;
  display: flex;
  flex-direction: column;
}


.title-box {
  background: linear-gradient(to right, rgb(232, 0, 233, 0.12), rgb(37, 3, 192, 0.12)); /* same as #e800e9, #2503c0 */
  font-family: "NunitoSans";
  font-weight: 500;
  font-size: 18px;
  padding: 15px;

  display: flex;
  align-items: start;
  justify-content: space-between;

}

.title-box a {
  font-weight: 500;
  text-decoration: none;
  color: #000;
}



.collapsible-text-box {
  background: linear-gradient(to right, rgb(253, 244, 219, 0.3), rgb(239, 132, 84, 0.3)); /* same as #fdf4db, #ef8454 */
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.collapsible-text-box.open{
  flex-grow: 1;
  max-height: 100vh;
  transition: max-height 0.3s ease-in-out;
}

.collapsible-text-box .text-content {
  font-weight: 350;
  padding: 15px;
}


.plus-minus-button {
  color: #ecf0f1;
  background: transparent;
  height: 40px;
  border: 0;
  font-size: 1.5em;
  position: relative;
  flex-basis: 30px;
  width: 40px;
  flex-shrink: 0;
  align-self: center;
}

.plus-minus-button span {
  position: absolute;
  transition: 300ms;
  background: white;
}

/* Create the "+" shape by positioning the spans absolutely */
.plus-minus-button span:first-child {
  top: 0;
  bottom: 10px;
  width: 8px;
  left: -9px;
  background-color: white;
}

.plus-minus-button span:last-child {
  left: -20px;
  right: 0px;
  height: 8px;
  top: 11px;
  background-color: white;

}

.plus-minus-button.minus span {
  transform: rotate(90deg);
}

.plus-minus-button.minus span:last-child {
  left: 50%;
  right: 50%;
}