.collapsible-text-component {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.title-box {
  background: linear-gradient(to right, rgb(232, 0, 233, 0.12), rgb(37, 3, 192, 0.12)); /* same as #e800e9, #2503c0 */
  font-family: "NunitoSans";
  font-weight: 600;
  font-size: 18px;
  padding: 15px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.collapsible-text-component .text-box {
  background: linear-gradient(to right, rgb(253, 244, 219, 0.3), rgb(239, 132, 84, 0.3)); /* same as #fdf4db, #ef8454 */
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.3s;
}

.collapsible-text-component .text-box.open {
  flex-grow: 1;
  max-height: 500vh;
  transition: max-height 0.3s;
}

.collapsible-text-component .text-box .text-content {
  font-weight: 350;
  padding: 15px;
}

.plus-minus-icon {
  color: #ecf0f1;
  height: 30px;
  position: relative;
  /* Prevent from squishing up if no space -- force 30px width */
  flex-basis: 30px;
  flex-shrink: 0;
  margin-left: 10px;
}

.plus-minus-icon span {
  position: absolute;
  transition: 300ms;
  background: white;
}

/* Create the "+" shape */
.plus-minus-icon span {
  top: 0px;
  bottom: 0px;
  width: 8px;
  left: 10px;
  background-color: white;
}

.plus-minus-icon span:last-child {
  transform: rotate(90deg);
}

.plus-minus-icon.minus span:first-child {
  transform: rotate(90deg);
}
