* {
  box-sizing: border-box;
  font-family: "NunitoSans";
}


@font-face {
  font-family: "SofiaProLight";
  src: url("Sofia Pro Light.otf");
}

@font-face {
  font-family: "NunitoSans";
  src: url("NunitoSans.ttf");
  color: #151529;
}

.header-logo {
  /* height: 400px; */
  /* height: 60%; */
  width: 45%
}

.footer-logo {
  height: 100px;
}

@media screen and (max-width: 768px) {
  /* .header-logo {
    height: 300px;
  } */
  .footer-logo {
    height: 150px;
  }
}
