body {
  margin: 0;
  padding: 0;
  width: 100%;
}


/* .bg and .outer-wrapper work together to achieve a "background-align: fixed" effect,
  which unfortunately is not supported on mobile devices. */


.bg {
  background-image: url(../public/back.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  position: fixed;
  display: flex;
  z-index: -1;
}

.outer-wrapper {
  width: 80%;
  top: 0;
}

.page-wrapper {
  position: relative;
  margin-top: 5rem;
  left: 50vw;
  transform: translateX(-50%);
  /* width: 80%; */
  display: flex;
  flex-direction: column;
  margin: 0;
  padding-right: 20px;
  padding-left: 20px;

  align-items: center;
  overflow: hidden;
  max-width: 1200px;
}


.footer-section {
  background-color: rgba(243, 119, 18, 0.21);
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

 .sponsor-logo-row {
  display: flex;
  align-items: center;
}

.sponsor-logo-wrap-section {
  display: flex;
  justify-content: center;
  max-width: 800px;
}

.footer-section .impressum-etc a {
  padding-left: 10px;
  padding-right: 10px;
  color: black;
}

.impressum-etc-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: black;
}

.sponsor-logo-container {
  width: 100%;
}

.sponsor-logo {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
  padding: 20px;
}

.header-logo {
  width: 45%;
  height: auto;
}

.menu-wrapper {
  background: linear-gradient(to right, rgb(253, 244, 219, 0.3), rgb(239, 132, 84, 0.3)); /* same as #fdf4db, #ef8454 */
  position: fixed;
  z-index: 100;
  width: 100%;

}

.menu-bar {
  /* background-color: rgba(243, 119, 18, 0.21); */
  display: flex;
  justify-content: center;
  transition: height 1s ease;
}

.menu-items-wrapper {
  max-width: 600px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  gap: 20px;
}

.menu-item {
  max-height: 100%;
  width: auto;
  flex-grow: 1;
  text-transform: uppercase;
  font-weight: 800;
}

.menu-item-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.menu-item.logo{
  padding: 10px;
  height: 50px;
  transition: 600ms ease;
}

.menu-item.logo.big{
  height: 140px;
}

.menu-dropdown {
  display: flex;
  width: 100%;
  top: 100%;
  background: linear-gradient(to right, rgb(232, 0, 233, 0.12), rgb(37, 3, 192, 0.12)); /* same as #e800e9, #2503c0 */
}