.app-store-logo {
  height: 80px;
  width: auto;
}

.moment-app-screenshot {
  border-radius: 20px 20px 0px 0px;
  /* height: 400px; */
  width: 100%;
  height: auto;
  max-width: 300px;
}

.content-box {
  display: flex;
  flex-direction: row;
  background: linear-gradient(to right, rgb(253, 244, 219, 0.3), rgb(239, 132, 84, 0.3)); /* same as #fdf4db, #ef8454 */
  padding: 15px;
  width: 100%;
}
.content-box.split-box {
  /* prevent right padding */
  padding: 15px 0px 15px 15px;
}

.responsive-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.desktop-and-tablet-only {
  display: block;
}
.mobile-only {
  display: block;
}

@media (max-width: 768px) {
  .desktop-and-tablet-only {
    display: none;
  }
  .content-box.split-box {
    flex-direction: column;
  }
}
@media (min-width: 768px) {
  .mobile-only {
    display: none;
  }
    .content-box.split-box {
    flex-direction: row;
  }
}
