.timetable-page-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timetable-page-wrapper .table-container {
  margin-left: 20px;
  margin-right: 20px;
  align-self: start;
  width:100%;
  overflow-x: scroll;
}

.day-timetable {
  table-layout: fixed;
  width: 100%
}

.day-timetable td {
  text-align: center;
  /* outline: #292553 1px solid; */
  font-weight: normal;
  height: 60px;
  width: 100px;
}

.day-timetable .description-col {
  width: 250px;
  
}

.day-timetable tr:nth-child(even) {
  background-color: #fefefe44;
}

.day-timetable tr:nth-child(odd) {
  background-color: #ffffff91;
}

.day-timetable th {
  /* background-color: #c06e82; */
  /* padding: 25px; */
  /* height: 100px; */
  font-size: 14px;
  width: 100px;
  background-color: #ebcc7680;
}

.time-label {
  text-align: left;
}

.event-box {
  background: rgb(232, 0, 233, 0.16);
  /* background: linear-gradient(to right, rgb(232, 0, 233, 0.16), rgb(37, 3, 192, 0.16)); /* same as #e800e9, #2503c0 */
  height: 100%;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  text-overflow: ellipsis;
  font-size: 13px;
}
.event-box a {
  color: black;
}

.stage-name{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ebcc76;
  outline: #fcfcf100 1px solid;
  font-size: 12px;
}

.symbols-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.legend-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}